/novinky_cz/back_up_data/
/novinky_cz/selenium_sol_depraced/out/
/novinky_cz/words.json
/novinky_cz/done_links.txt
/novinky_cz/results.db
/novinky_cz/sitemap.xml
/novinky_cz/word.json
/novinky_cz/words.txt
/.idea